body {
    position: relative;
    font-family: 'Press Start 2P', cursive; 
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; 
    background: url(casa.jpg) center/cover no-repeat fixed;
}

a {
    color: white;
    font-family: 'Press Start 2P', cursive; 
    text-decoration: none;
}

h1 {
    margin: 20px 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    font-family: 'Press Start 2P', cursive; 
    font-size: 24px; /* Tamanho ajustado */
}

.name-input-container {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
    margin-top: 50px; 
}

.character-img {
    width: 300px; 
    margin-right: 200px; 
}

.letter-table {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    gap: 2px; 
    margin-left: 150px; 
    margin-top: 20px; 
}

.letter-btn {
    background-color: #4e54c8;
    border: none;
    color: white;
    padding: 15px; 
    margin: 1px; 
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7); 
    font-size: 16px; /* Tamanho ajustado */
    font-family: 'Press Start 2P', cursive; 
}

.letter-btn:hover {
    background-color: #4e54c8;
}

#nameInputSection {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: center; 
}

input {
    display: none; 
    background-color: white; 
    border: 2px solid #4e54c8; 
    border-radius: 10px;
    width: 900px; 
    height: 150px; 
    display: flex;
    text-align: start;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    margin: 10px 0; 
    font-size: 36px; /* Tamanho ajustado */
}

label {
    font-size: 36px; /* Tamanho ajustado */
}

.dialogue {
    display: flex; 
    flex-direction: row-reverse; 
    margin-top: 120px;
    align-items: center; 
    justify-content: center; 
}

.dialogue-input {
    background-color: white; 
    border: 2px solid #4e54c8; 
    border-radius: 10px;
    width: 900px; 
    height: 200px; 
    margin-left: -700px; 
    margin-right: 50px; 
    font-size: 18px; /* Tamanho ajustado */
    font-family: 'Press Start 2P', cursive;
    text-align: center; 
    z-index: 1;
}

.dialogue-character-img {
    width: 150px; 
    height: auto;
    margin-left: -50px; 
    margin-right: 50px; 
    z-index: 2;
}

.btn_dialogo {
    margin-left: 50px; 
    background-color: #4e54c8;
    border: none;
    color: white;
    padding: 35px 125px; 
    font-size: 28px; /* Tamanho ajustado */
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    font-family: 'Press Start 2P', cursive; 
}

.btn {
    background-color: #4e54c8;
    border: none;
    color: white;
    padding: 15px 20px; 
    font-size: 14px; /* Tamanho ajustado */
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    font-family: 'Press Start 2P', cursive; 
}

.btn:hover {
    background-color: #4e54c8;
    transform: scale(1.05);
}

.dialogue-character-img {
    width: 300px; 
    margin-top: 40px;
    align-items: left;
    margin-right: 600px;
}

.highlighted {
    background-color: #4e54c8; 
    border: 2px solid #fff; 
    color: #fff; 
}
