body {
    margin: 0;
    overflow: hidden;
    background-color: #87CEEB; /* Céu azul */
    font-family: 'Press Start 2P', cursive;
}

.game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url('banner.png'); /* Fundo do castelo */
    background-size: cover;
    background-position: center; /* Centraliza a imagem */
}

.character, .enemy, .boss, .platform {
    position: absolute;
    bottom: 50px; /* Eleva todos os personagens em relação ao chão */
    transition: left 0.1s, transform 0.1s; /* Suaviza o movimento e a rotação */
}

#player {
    width: 80px; /* Tamanho do cavaleiro */
    transform: scaleX(1); /* Direção padrão para a direita */
}

#ground {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #4e54c8; /* Cor do chão */
    bottom: 0; /* Coloca o chão na parte inferior */
}

.enemy {
    width: 60px; /* Tamanho do inimigo */
}

.boss {
    width: 100px; /* Tamanho do boss */
}

.health-bar {
    position: absolute;
    width: 100px; /* Largura da barra de vida */
    height: 10px; /* Altura da barra de vida */
    background-color: #ddd; /* Cor de fundo da barra */
    border-radius: 5px;
    margin-bottom: 5px; /* Espaço entre a barra e o personagem */
}

.health {
    height: 100%; /* Altura da saúde será ajustada dinamicamente */
    background-color: #f00; /* Cor da saúde */
    border-radius: 5px;
}

/* Estilo das plataformas */
.platform {
    width: 100px; /* Largura da plataforma */
    height: 10px; /* Altura da plataforma */
    background-color: #654321; /* Cor da plataforma */
    border-radius: 5px;
}

#enemyHealthBar, #bossHealthBar {
    display: none; /* Inicialmente escondemos a barra de vida do boss */
}

/* Estilos para o modal */
#modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo semi-transparente */
    color: white;
    font-size: 24px;
    z-index: 1000; /* Fica acima dos outros elementos */
}
