body {
    margin: 0; /* Remove margens padrão */
    height: 100vh; /* Garante que o body ocupe 100% da altura da viewport */
    width: 100%; /* Garante que o body ocupe 100% da largura */
    overflow: hidden; /* Evita barras de rolagem */
    font-family: 'Press Start 2P', cursive;
}

.container_modal {
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100%; /* Preenche toda a altura do body */
    width: 100%; /* Preenche toda a largura do body */
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Alinha os itens na parte inferior */
    padding-bottom: 20px; /* Espaço abaixo do conteúdo */
    z-index: 1;
}


.dialogue {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-top: 300px; 
   margin-bottom: 30px;
   filter: brightness(100%);
   z-index: 2;
}
.dialogue-text {
    background-color: white; 
    border-radius: 10px; 
    padding: 10px; /* Menos espaço interno */
    width: 1200px; 
    height: 50px; /* Altura ajustada */
    border: 2px solid #4e54c8; /* Adiciona a borda */
    overflow: hidden; /* Remove rolagem */
    z-index: 2;

}

.dialogue-input {
    background-color: white; 
    border: none; 
    width: 95%; 
    height: 40px; /* Altura ajustada do input */
    text-align: center; 
    font-size: 24px; 
    font-family: 'PixelatedFont', cursive; /* Troque pelo nome da fonte pixelada */
    color: black; /* Cor do texto preta */
    
   
}

.btn_dialogo {
  top: 0;
    color:#4e54c8; /* Cor do texto do botão */
    border: none;
    background-color: white;
    font-size: 18px; /* Tamanho do texto */
    cursor: pointer;
    font-family: 'PixelatedFont', cursive; /* Troque pelo nome da fonte pixelada */
}

.dialogue-input2 {
    background-color: white; 
    border: none; /* Remove a borda */
    border-radius: 10px;
    width: 100%; /* Largura completa da caixa */
    font-size: 34px; 
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
}



